.Comments-container{
    background: $darkBlue;
    padding-bottom: 48px;
}

.Comments{
    &-title{
        color: $white;
    }

    &-item{
        &-description, &-author, &-job{
            color: $white;
            display: block; 
        }
    }
}