/**
*  AR-MUSIC
*  
*  Typography
*  
*/

// Helper Guides
/*div[class*="col-"]{
    border: 1px solid red;
}

.row{
     border: 1px solid purple;
}*/


//  Typography
$titleFont: 'Advent Pro', serif;
$textFont: 'Oxygen', serif;

body{
    font-size: 16px;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    font-family: $titleFont;
}
p,strong,small,a,button,strong,b{
    font-family: $textFont;
}

/* Vertical Rhythm */
h2{
    font-size: 1.83333em;
    line-height: 1.6364em;
    margin: 1.6364em 0;
    font-weight: 800;
}

h3{
    font-size: 1.6667em;
    line-height: 1.8em;
    margin: 1.8em 0;
    font-weight: 700;
}


h4{
    font-size: 1.5em;
    line-height: 1em;
    margin: 2em 0;
    font-weight: 500;
}

h5{
    font-size: 1.3333em;
    line-height: 1.125em;
    margin: 2.25em 0;
    font-weight: 500;
}

h6{
    font-size: 1.1667em;
    line-height: 1.2857em;
    margin: 2.5714em 0;
    font-weight: 500;
}


p{
    font-size: 1em;
    line-height: 1.5em;
    margin: 1.5em 0;
}

// Colors
$white:     #e8eff1;
$darkBlue:  #0b4f6c;
$lightBlue: #01859c;
$darkGray:  #2f3233;
$grayText:  #656b6f;
$greenBtn:  #00984b;


// Helpers

.u-baseColor{
    background: $lightBlue;
}

.ul-transition{
    transition: all ease-in 300ms;
}

.ul-visible{
    display: none;
    transition: all ease-in 1000ms;
}

.u-btnGreen{
    border-radius: 35px;
    padding: 0 2.8em;
    line-height: 2.8em;
    color: $white;
    text-transform: uppercase;
    font-weight: bolder;
    background: $greenBtn;
}

.u-btnGreen:hover,.u-btnGreen:focus{
    color: $white;
    background: darken($greenBtn, 10%);
}

.u-shadow{
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
}




