.Header{
    height: 100vh;
    background: $lightBlue url(../img/discover.jpg) center bottom / 100% 70% no-repeat;
}

.Header-title{
    color: $white;
    font-family: $titleFont;
    font-weight: bolder;
}
.Header-title.is-hover:hover{
    color: $white;
}


@media (max-width: 768px){
    .Header{
        height: 560px;
        background: $lightBlue url(../img/discover.jpg) center bottom / contain no-repeat;
    }
}






