.container-fluid.ActionContainer
    section.Call-section.col-12
        article.Call-article.text-center
            hgroup.Call-hgroup
                h2.Call-hgroup-title
                    | UNA RAZÓN  
                    | NOS DIFERENCIA
                h4.Call-hgroup-subtitle
                    | Marfa green juice microdosing
                    br
                    | braid small batch cray.
    section.Description-section.col-md-10.col-md-offset-1
        article.Description-article.col-md-6.col-sm-12
            p.Description-content
                | Put a bird on it yr mumblecore, farm-to-table bicycle rights craft beer air plant la croix cold-pressed chambray coloring book enamel pin shabby chic copper mug. Master cleanse asymmetrical roof party edison bulb pinterest vinyl truffaut, +1 try-hard offal seitan shoreditch. Lo-fi cray pug, pok pok iPhone banh mi pork belly. Cliche tumblr enamel pin lo-fi plaid kickstarter, pabst neutra williamsburg live-edge mlkshk tbh.e
        article.Description-article
            p.Description-content.col-md-6.pull-right.col-sm-12
                | Put a bird on it yr mumblecore, farm-to-table bicycle rights craft beer air plant la croix cold-pressed chambray coloring book enamel pin shabby chic copper mug. Master cleanse asymmetrical roof party edison bulb pinterest vinyl truffaut, +1 try-hard offal seitan shoreditch. Lo-fi cray pug, pok pok iPhone banh mi pork belly. Cliche tumblr enamel pin lo-fi plaid kickstarter, pabst neutra williamsburg live-edge mlkshk tbh.
button.btnCall.u-btnGreen.btn.center-block 
    | Leer Más
