.row.Bussines-container
    .col-xs-12
        .row
            .Step-one.col-xs-12.center-block.text-center
                .Step-one-icon
                    span.glyphicon.glyphicon-ok-circle
                h2.Step-one-title
                    | SU PRÓXIMO PASO
                P.Step-one-description
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, deserunt.
        .row
            .Steps.col-md-3.text-center
                span.Steps-icon.glyphicon.glyphicon-time
                h3.Steps-title
                    | EXPERIENCIA
                small.Steps-description
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing.

            .Steps.col-md-3.text-center
                span.Steps-icon.glyphicon.glyphicon-heart-empty
                h3.Steps-title
                    | NUESTRO FUTURO
                small.Steps-description
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing.
            .Steps.col-md-3.text-center
                span.Steps-icon.glyphicon.glyphicon-usd
                h3.Steps-title
                    | TALENTOS ACADÉMICOS
                small.Steps-description
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing.
            .Steps.col-md-3.text-center
                span.Steps-icon.glyphicon.glyphicon-user
                h3.Steps-title
                    | MENTES BRILLANTES
                small.Steps-description
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing.