.CommunityContainer
    .row
        section.Community-description.col-12
            article.Community-article.text-center
                hgroup.Community-hgroup
                    h2.Community-hgroup-title
                        | GRAN COMUNIDAD DE PERSONAS
                        br
                        | COMO TÚ
                    h4.Community-hgroup-subtitle
                        | Estamos orgullosos de nuestro
                        br 
                        | producto y nos encanta recibir
                        br
                        | comentarios de nuestros usuarios
    .row
        section.Comments.owl-carousel.owl-theme.col-md-8.col-offset-md-2
            div.Comments-article.u-shadow.item
                img.Comments-article-img(src="img/perfil-uno-redondo.png", alt="María Lopez")
                p.
                    Flexitarian hella kombucha ugh. Austin offal master cleanse poke iceland craft beer viral activated charcoal.
                small
                    strong
                        | María Lopez
                small
                    | Diseñadora Gráfica

            div.Comments-article.u-shadow.item
                img.Comments-article-img(src="img/perfil-uno-redondo.png", alt="María Lopez")
                p.
                    Flexitarian hella kombucha ugh. Austin offal master cleanse poke iceland craft beer viral activated charcoal.
                small
                    strong
                        | María Lopez
                small
                    | Diseñadora Gráfica
            div.Comments-article.u-shadow.item
                img.Comments-article-img(src="img/perfil-uno-redondo.png", alt="María Lopez")
                p.
                    Flexitarian hella kombucha ugh. Austin offal master cleanse poke iceland craft beer viral activated charcoal
                small
                    strong
                        | María Lopez
                small
                    | Diseñadora Gráfica
