.Comments-container.row
    section.Comments
        article.Comments-title.text-center
            h2
                | ESTO PIENSAN LOS DEMÁS
        article.col-lg-10.col-lg-offset-1
            div.Comments-item.col-lg-6
                p.Comments-item-description
                    | Coloring book hashtag pabst banjo, man bun roof party authentic la croix. Fingerstache viral iPhone crucifix, quinoa post-ironic umami. Tilde austin ramps fingerstache chartreuse, locavore hell of seitan pickled. Sustainable mumblecore tbh, affogato austin ennui vaporware plaid meditation pork belly. 
                hr
                small.Comments-item-author
                    | Juan García
                small.Comments-item-job
                    | Vicepresidente de TIC´s
            div.Comments-item.col-lg-6
                p.Comments-item-description
                    | Coloring book hashtag pabst banjo, man bun roof party authentic la croix. Fingerstache viral iPhone crucifix, quinoa post-ironic umami. Tilde austin ramps fingerstache chartreuse, locavore hell of seitan pickled. Sustainable mumblecore tbh, affogato austin ennui vaporware plaid meditation pork belly. 
                hr
                small.Comments-item-author
                    | Juan García
                small.Comments-item-job
                    | Vicepresidente de TIC´s
