.container-fluid.Culture-container#Culture
        section.Culture-section.text-center
            .row
                .col-12
                    h2.Culture-title
                        | MÁS INFORMACIÓN SOBRE 
                        br
                        | NUESTRA CULTURA
                    button#Play.u-btnVideo
                        a(href="https://www.youtube.com/watch?v=h765SXRP9U0", title="Nuestra Cultura").modal-youtube.Culture-play-btn
                            span.glyphicon.glyphicon-play.u-transition
                    p.Culture-description
                        |  Lorem ipsum dolor sit amet, 
                        br
                        | consectetur  adipisicing elit. Fuga, aliquam!
                    #ModalContainer

        