.container.Features-container
    section.Features-content
        article.Features-limit
            .row
                .col-lg-4.col-lg-offset-1.col-md-12.col-sm-12.text-center
                    img(src="img/limites-redondo.png", alt="Limites").Features-limit-img
                .col-lg-5.col-lg-offset-1.col-md-6.col-sm-12
                    h2.Features-limit-title
                        | SÍN 
                        br
                        | LÍMITES
                    p.Features-limit-description
                        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum illum iure a suscipit quidem voluptate facere doloribus atque, explicabo culpa.
                    button.Features-limit-button.u-btnBlue
                        | Unirse al Grupo
        article.Features-invest
            .row
                .col-lg-5.col-lg-offset-1.col-md-6.col-sm-12
                    h2.Features-invest-title
                        | INVERTIR
                        br
                        | EN EL FUTURO.
                    p.Features-invest-description
                        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum illum iure a suscipit quidem voluptate facere doloribus atque, explicabo culpa.
                    button.Features-invest-button.u-btnBlue
                        | Donativos
                .col-lg-4.col-lg-offset-1.col-md-12.col-sm-12.text-center
                    img(src="img/invertir-redondo.png", alt="Limites").Features-invest-img
            
        