footer.row.Footer-container
    .col-xs-12.col-md-8.col-md-offset-2
        .row
            .col-md-4.col-sm-12
                .row
                    a(href="index.html").navbar-brand.Header-title.is-hover AR-MUSIC
            .col-md-4.col-sm-12
                .row
                    span.label.label-default
                        | Calle 123 # 56 - 78 Este
                .row
                    span.label.label-default
                        | Bogotá, Colombia
                .row
                    span.label.label-default
                        | armusic.com
            .col-md-4.col-md-12
                .row
                    ul.nav.navbar-nav.Login.is-hover
                        li
                            a(href="#", title="Ingresar").Login-start
                                span.glyphicon.glyphicon-user
                        li
                            a(href="https://co.pinterest.com/restrepo_arnold/", title="Galería", target="_blank").Login-galery
                                span.glyphicon.glyphicon-picture
                .row
                    p.text-muted
                        | Derechos reservados &copy; armusic 2017