.row.Newsletter-container
    .col-xs-12
        .row
            .col-md-12.text-center
                h2.Newsletter-title
                    | UNIRSE AL PROYECTO
                p.Newsletter-description
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quis?
        .row
            .col-lg-6.col-lg-offset-4
                form(action="#").form-inline.Newsletter-form
                    .form-group.form-group-lg
                        .input-group
                            input(type="text", placeholder="ej. tarzán@selva.com").form-control.input-lg
                    button(type="submit").btn.u-btnSubmit.btn-lg SUSCRIBIRSE