doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ar-music
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Advent+Pro|Oxygen")
        link(href="file.css", rel="stylesheet")
        link(href="css/bootstrap.min.css", rel="stylesheet")
        link(href="css/app.css", rel="stylesheet")
    
    body
        include ./partials/header
        include ./partials/action
                    
                            




                        
                                
                                




            

    
        script(src="js/jquery.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/app.js")
        script#__bs_script__.
            //<![CDATA[
            document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.8'><\\/script>".replace("HOST", location.hostname));
            //]]>
    
    
    